@import "../../App.scss";

.drawer {
  margin-left: 60px;
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  overflow-x: hidden;
  background-color: $fileDrawer-color;
  border-right: 2px solid $bgcolor;
}
.drawer__header {
  display: flex;
  flex-direction: row;
  font-size: $font-size;
  color: $font-white;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.drawer__header :first-child {
  align-self: center;
}
.drawer__header :last-child {
  align-self: center;
  cursor: pointer;
  margin-left: auto;
}
.drawer__headerIcons > svg {
  padding-right: 18px;
  font-size: 14px;
}
.editor {
  margin-left: 280px;
}
