@import "../../App.scss";

.menuBar {
  background-color: $bgcolor;
  height: 30px;
}

.menuBar__menu ul {
  list-style: none;
  display: inline;
}

.menuBar__menu ul li {
  display: inline-block;
  padding-top: 6px;
  padding-right: 17px;
  font-size: $font-size;
  color: $font-color;
  cursor: pointer;
}
